<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.sales.user.dao.CommodityTypeMapper">
    <select id="commodityTypeList" resultType="commodityType">
        SELECT
        cf_commoditytype.ytid,
        cf_commoditytype.ytype
        FROM
        cf_commoditytype
    </select>
</mapper>