<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.sales.user.dao.CommodityMapper">
    <select id="commodityList" parameterType="int" resultType="commodity">
        SELECT
        cf_commodity.yid,
        cf_commodity.yname,
        cf_commodity.yprice,
        cf_commodity.ynum,
        cf_commodity.ytid,
        cf_commodity.yimage
        FROM
        cf_commodity
        WHERE
        cf_commodity.ytid = #{Id} and cf_commodity.ygrounding = 1
    </select>
    <select id="commodityListCount" parameterType="int" resultType="int">
        SELECT
        COUNT(*)
        FROM
        cf_commodity
        WHERE
        cf_commodity.ytid = #{Id}
    </select>
</mapper>